{{- define "cmd" }}
### {{.Name}} {#{{.Name}}}

{{.Description}}

#### Usage: `jalapeno {{.Usage}}`

{{- if .Example }}

#### Examples
```
{{ .Example }}
```
{{- end}}

{{- if len .Flags }}

#### Options {#{{.Name}}-options}

| Name | Type | Default | Description |
| --- | --- | --- | --- |
{{- range $flag := .Flags}}
| `--{{$flag.Name}}`{{if $flag.Shorthand}}, `-{{$flag.Shorthand}}`{{end}} | `{{.Type}}` | {{if $flag.Default}}`{{ $flag.Default }}`{{- end }} | {{$flag.Description}} |
{{- end}}
{{- end}}
{{- end}}